.page-title {
    cursor: pointer;
    text-decoration: none !important;
    color: var(--color-gray-darker);
    line-height: normal;
    display: block;
    position: relative;
    height: 35px;
    width: 100%;
}

.page-title:hover {
    background-color: grey;
}

.page-title.selected {
    font-weight: 800;
}

.title-text {
    color: black !important;
    padding-left: 30px;
    padding-top: 0;
    margin-top: 0;
}

.title-text-relative {
    position: relative;
    top: -20px;
    padding: 0;
    margin: 0;
}

.current-page {
    background-color: var(--color-gray-dark) !important;
    border-radius: 25px;
    position: relative;
    left: -5px;
    padding-right: 45px;
    min-height: 25px;
}
