.page-title {
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    text-decoration: none !important;
    color: var(--color-gray-darker);
    line-height: normal;
    display: block;
    position: relative;
    height: 35px;
    width: 100%;
}

.page-title:hover {
    background-color: grey;
}

.page-title.selected {
    font-weight: 800;
}

.title-text {
    color: black !important;
    padding-left: 40px;
}

.vertical-center {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}