.track:hover {
    background-color: #D7EDFC !important;
}

.table tbody tr:nth-child(odd).row-selected-color-alpha {
    background-color: rgba(145, 207, 84, 0.286);
}

.table tbody tr:nth-child(even).row-selected-color-alpha {
    background-color: rgba(104, 162, 46, 0.286);
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--color-white);
    border-radius: 0.15em;
    font: inherit;
    color: var(--color-gray) !important;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color-gray) !important;
    display: grid;
    place-content: center;
  }

  input[type="checkbox"].ticked {
    background-color: var(--color-primary);
    border-radius: 0.15em;
    border: 0.15em solid var(--color-primary) !important;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: var(--color-white);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: var(--color-white);
  }
