.x-scrollable-periods {
    width: 400px;
    overflow-x: scroll;
    position: relative !important;
}

.x-scrollable-periods table td:first-child, .x-scrollable-periods table th:first-child {
    position: sticky !important;
    width: 50px;
    background-color: var(--color-white);
    left: 0;
    z-index: 1;
}

.periods-table {
    border-collapse: collapse;
    width: 100%;
}
