body {
    background-color: #DADED4;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topSpace {
    margin-top: 500px;
}

h1 {
    color: #3C403D;
    font-size: 200px;
    margin-bottom: 0px;
    text-align: center;
}

h3 {
    position: relative;
    top: -90px;
    color: #3C403D;
    font-size: 50px;
    opacity: 70%;
    text-align: center;
}

h4 {
    position: relative;
    top: -50px;
    color: #3C403D;
    font-size: 30px;
    text-align: center;
}

h5 {
    position: relative;
    top: 10px;
    color: #3C403D;
    font-size: 20px;
    text-align: center;
}

.blanchedFrame {
    margin: 150px 550px 0px 550px;
    border: solid 5px blanchedalmond;
}

/* fancyButton design from http://grohit.com/ */

.fancyButton {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.fancyButton a {
    text-decoration: none;
    border: 2px solid #3C403D;
    padding: 15px;
    color: #3C403D;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

span {
    position: relative;
    z-index: 3;
}

.fancyButton a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    /*100% plus double the times left values*/
    height: calc(100% - 10px);
    background-color: #DADED4;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
}
  
.fancyButton a:hover::before {
    transform: scaleY(0);
}

.fancyButton a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: #DADED4;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}
  
.fancyButton a:hover::after {
    transform: scaleX(0);
}

#insert-form {
    padding-top: 100px;
    margin-left: 50px;
}

#insert-form .input {
    margin-left: 50px;
}

#filterForm {
    margin-left: 100px;
}

#filterForm .fancyButton {
    height: 100px;
}

tr .fancyButton {
    height: 100px;
}

.sidebar {
    width: 350px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #DADED4;
}

table {
    padding-top: 100px;
}