.chevron-down-20 {
    background-image: url('./images/20/Chevron\ Down.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
}

.chevron-right-20 {
    background-image: url('./images/20/Chevron\ Right.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
}
